* {
  border-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f2f9;
  font-family: monospace;
  height: 100vh;
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
}

ul,
ol {
  list-style: none;
}

h1 {
  margin: 1rem 0;
}

#game-container {
  display: flex;
  width: 75vw;
  margin: 0 auto;
}

#deck {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
  grid-gap: 1.5rem;
}

#score {
  flex: 1;
}

#timer {
  flex: 1;
}

.clicked {
  box-shadow: 0 3px 10px 2px rgb(105, 105, 105);
}

.hidden {
  display: none;
}

.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 6rem;
  border-radius: 0.5rem;
}

button {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.2s;
  background-color: rgb(104, 66, 255);
  border-radius: 1rem;
}
