* {
  border-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f2f9;
  font-family: monospace;
  height: 100vh;
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
}

ul,
ol {
  list-style: none;
}

.card {
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 5em;
  margin: 1em;
}