#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  h1 {
    color: #fb3640;
    font-size: 45px;
    position: relative;
    margin-bottom: 20px;
    span {
      position: absolute;
      top: 0;
      right: 0;
      background: #f1f2f9;
      width: 100%;
      border-left: .1em solid transparent;
      -webkit-animation: typing 3s steps(16) forwards,
                        cursor 1s infinite;
      animation: typing 3s steps(16) forwards,
                cursor 1s infinite;
    }
  }
  .how-to {
    background: white;
    background-image: url(../../dist/images/how-to.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #231f20;
    border-radius: 4px;
    padding-top: 20px;
    height: 460px;
    width: 620px;
  }
  #click-to-play {
    background: #629460;
    border-radius: 3px;
    color: #f1f2f9;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    margin: 20px;
  }
}

/* intro heading typing animation */
@-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: #629460;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: #629460;}
}