* {
  border-style: none;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f2f9;
  height: 100vh;
}

ul, ol {
  list-style: none;
}

.hidden {
  display: none !important;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


#deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  width: 660px;
}

.card {
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 150px;
  margin: 7px;
}

.clicked {
  border: 1px solid black;
  box-shadow: 2px 0px 5px inset #333;
}

.shape {
  font-size: 70px;
}

.left-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  #click-to-restart {
    background: #629460;
    border-radius: 3px;
    color: #f1f2f9;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    margin: 20px;
  }
}

/* SCORE */

.score-board {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 10px;
  h2 {
    font-weight: 400;
    font-size: 25px;
  }
  #score {
    font-size: 30px;
  }
}

